version: '3.8'

services:
  reference:
    build:
      context: ./reference
    ports:
      - "5559:5559"
    networks:
      - chat-network
    container_name: reference

  server1:
    build:
      context: ./server
    command: python server.py 1 5555
    volumes:
      - ./data/server1:/app/data
    depends_on:
      - reference
    networks:
      - chat-network
    container_name: server1

  server2:
    build:
      context: ./server
    command: python server.py 2 5555
    volumes:
      - ./data/server2:/app/data
    depends_on:
      - reference
    networks:
      - chat-network
    container_name: server2

  server3:
    build:
      context: ./server
    command: python server.py 3 5555
    volumes:
      - ./data/server3:/app/data
    depends_on:
      - reference
    networks:
      - chat-network
    container_name: server3

  broker:
    build:
      context: ./broker
    ports:
      - "5555:5555"
    depends_on:
      - server1
      - server2
      - server3
    networks:
      - chat-network
    container_name: broker

  proxy:
    build:
      context: ./proxy
    ports:
      - "5557:5557"
      - "5558:5558"
    depends_on:
      - broker
    networks:
      - chat-network
    container_name: proxy

  client:
    build:
      context: ./client
    depends_on:
      - broker
      - proxy
    networks:
      - chat-network
    container_name: client
    stdin_open: true
    tty: true

  bot:
    build:
      context: ./bot
    depends_on:
      - broker
      - proxy
    networks:
      - chat-network
    deploy:
      replicas: 3

  bot_cpp:
    build:
      context: ./bot_cpp
    depends_on:
      - broker
      - proxy
    networks:
      - chat-network

networks:
  chat-network:
    driver: bridge